{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock stylesheets %}
{% block musee_body %}
    <div class="container-fluid">

        <div class="row mt-4 bloc-bienvenue">
            <div class="col-md-6 block-center" id="titre">

                <h3>Bienvenue au</h3>
                <h1>Musée du Louvre</h1>
                <a href="{{path('reservation')}}" class="btn btn-light">Acheter un billet</a>
            </div>
        </div>
      
    </div>
{% endblock musee_body %}