{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h1 class="">Bienvenue au Musée du Louvre</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{{path('reservation')}}" class="btn btn-success">Acheter un billet</a>
                <a href="" class="btn btn-info">Un autre bouton</a>
            </div>
        </div>
    </div>
{% endblock body %}