{% extends "base.html.twig" %}

{% block title %}
    Acheter un billet -  {{ parent() }} 
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Ici sera le formulaire</h1>
        </div>
    </div>
{% endblock body %}