.row-bienvenue {
    height: 650px;
}

#joconde, #contenue-bienvenue {
    height: 650px;
}
#joconde {
    background: url('../img/joconde.jpg');
}

#contenue-bienvenue {
    /* background-color: #1B5465; */
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
}

#contenue-bienvenue h1 {
    font-size: 5em;
}

.infos-contact {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos, .contact {
    height: 125px;
}

.billeterie {
    height: 250px;
}
.evenements {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    background-color: #1B2F65;
}
.infos {
    background-color: #4da0ff;
}

.infos > a, .contact > a {
    color: whitesmoke;
}

.billeterie {
    background-color: #651B2F;
}

.evenements {
    background-color: #4da0ff;
}


.billeterie > a, .evenements > a {
    color: whitesmoke;
    letter-spacing: 4px;
}