.row-bienvenue {
    height: 650px;
}

#joconde, #contenue-bienvenue {
    height: 650px;
}
#joconde {
    background: url('../img/joconde.jpg');
}

#contenue-bienvenue {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billeterie, .evenements,.infos, .contact {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    background-color: #4d68ff;
}
.infos {
    background-color: #4da0ff;
}

.infos > a, .contact > a {
    color: black;
    font-size: 2em;
    letter-spacing: 4px;
}

.billeterie {
    background-color: #FFE44D;
}

.evenements {
    background-color: whitesmoke;
}


.billeterie > a, .evenements > a {
    color: black;
    font-size: 3em;
    letter-spacing: 4px;
}