h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2em;
    font-weight: 100;
}

a {
    color: rgb(0, 0, 0);
}
.landing {
    height: 650px;
    background-color: #67888D;
}
.landing h1 {
    font-size: 6em;
    letter-spacing: 4px;
    font-weight: 100;
}

.billetterie {
    height: 350px;
    background-color: rgb(88, 96, 102);
}

.contact, .infos {
    height: 300px;
}

.contact {
    background-color: #B3C9C9;
}
.infos {
    background-color: #F2F8F8;
}

.footer {
    background-color: #595D60;
}