body {
    background-color: #67888D;
}

.reservation {
    background-color: #595D60;
    border: #595D60;
    width: 500px;
}
.jumbotron {
    background-color: #B3C9C9;
}

.louvre-map {
    width: inherit;
}

.footer {
    background-color: #595D60;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2em;
    font-weight: 100;
}


a {
    font-weight: 100 !important;
    letter-spacing: 4px;
    color: black;
}

a:hover {
    text-decoration: none !important;
    text-transform: none !important;
    color: black !important;
}