nav {
    background-color: #595D60 !important;
}
a:hover {
    text-decoration: none;
}

* {
    font-weight: 100 !important;
}

a {
    font-weight: 100 !important;
    letter-spacing: 4px;
}

a:hover {
    text-decoration: none !important;
    text-transform: none !important;
    color: black;
}

