.navbar {
    height: 80px;
}

.logo-menu {
    width: 150px;
}

.nav-link, .navbar-brand {
    color: #0d1213 !important;
    letter-spacing: 3px;
}

.nav-link {
    font-size: 1.1em;
    margin-right: 50px;
}

a:hover {
    text-decoration: none;
}