.navbar {
    background-color: whitesmoke !important;
    border-bottom: 1px solid black;
    height: 80px;
}

.logo-menu {
    width: 150px;
}

.nav-link, .navbar-brand {
    color: #17a2b8 !important;
    letter-spacing: 3px;
}

.nav-link {
    font-size: 1.1em;
    margin-right: 50px;
}